* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header-section {
  position: sticky;
  top: 0px;
  background-color: #262626;
  color: #feda6a;
  /* option for having fixed navigation height
  this can be used when logo is fixed in size 
   */
  /* height: 10vh; */
  height: auto;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* .nav-items {
  display: inline;
} */
.logo {
  padding: 10px;
  font-size: 1.5rem;
  border: 3px solid #d4d4dc;
  /* logo option 1 */
  /* improved using animation */
  /* border-top-left-radius: 40%;
  border-bottom-right-radius: 40%; */

  /* logo option 2 */
  /* border-bottom-left-radius: 40%;
  border-top-right-radius: 40%; */

  /* logo option 3  */
  /* border-radius: 40%; */
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  animation-name: animate-logo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

/* animating logo for visual effects */
@keyframes animate-logo {
  25% {
    /* border-top-left-radius: 10%;
    border-bottom-right-radius: 10%; */
    /* alternate way of specifying border */
    border-radius: 10% 0 10% 0;
  }
  50% {
    border-radius: 20% 0 20% 0;
  }
  75% {
    border-radius: 30% 0 30% 0;
  }
  100% {
    /* border-top-left-radius: 40%;
        border-bottom-right-radius: 40%; */
    border-radius: 40% 0 40% 0;
  }
}

.logo a {
  text-decoration: none;
  color: #feda6a;
}
.nav-content {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
}

.nav-links {
  padding: 10px;
  text-decoration: none;
  color: #d4d4dc;
}

.nav-links:hover {
  background-color: #1d1e22;
  color: #feda6a;
  font-weight: bold;
  border-radius: 10px;
}
