.header-section {
  position: static;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navigation {
  flex-direction: column;
  position: static;
}
.nav-content {
  flex-direction: column;
}

.nav-links {
  padding-top: 10px;
  width: 100%;
}

/* banner section */

.banner-section {
  height: 50vh;
}

.banner-heading {
  font-size: 5vw;
  padding: 0px;
}

.banner-subtext {
  font-size: 3vw;
}
/* about us  */
#about-us {
  height: 50vh;
}
.about-content {
  justify-content: center;
  align-items: center;
}
.about-image {
  display: none;
}

.about-text {
  padding: 0px;
  width: 100%;
}

.about-text h1 {
  font-size: 5vw;
}
.about-text p {
  font-size: 3vw;
}

/* services  */
#services > h1 {
  font-size: 5vw;
}

.service-container {
  flex-direction: column;
  align-items: center;
}

.service {
  width: 90%;
  margin-bottom: 10px;
}

.service h1 {
  font-size: 5vw;
}
.service p {
  font-size: 3vw;
  width: 80%;
  margin: auto;
  text-align: center;
}

/* Clients */

.client-container {
  width: 90%;
}
.client-container div {
  padding-top: 10px;
  width: 20%;
}

.client-container div img {
  width: 50%;
}
